@import url("/assets/css/variaveis.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
    font-size: 16px;
}

.background {
    background-color: var(--branco-secundario);
    background-image: url("../img/Patas.svg"), url("../img/forma_1.svg"), 
        url("../img/forma_3.svg");
    background-repeat: no-repeat;
    background-position: top right, top left, 0 92%;
    background-size: 40%, 98%, 18%;
}

.container {
    padding: 3rem 3rem 0 3rem;
}

.label {
    color: var(--cinza-secundario);
    font-size: 1rem;
    font-family: var(--fonte-principal);
}

.form__cadastro {
    width: 22rem;
}

.input__senha {
    width: 22rem !important;
}

.form-control {
    background-color: var(--cinza-input);
}

.bi-eye {
    display: none;
}

.eye {
    margin: 8px 8px  8px 90% !important; 
    cursor: pointer;
    color: var(--cinza-secundario);
    z-index: 99999;
}

.lembrar__senha {
    color: var(--goiaba-botao);
    font-family: var(--fonte-principal);
    font-size: 0.8rem;
}

@media (min-width: 768px) {

    :root {
        font-size: 18px;
    }

    .background {
        background-image: url("../img/Patas.svg"), url("../img/forma_2.1.svg"),
        url("../img/forma_1.svg");
        background-position: top right, 100% 15rem, top left;
        background-size: 25%, 15%, 65%;   
    }

    .logo__azul {
        width: 13rem;
    }

    .form__cadastro {
        width: 22rem;
    }

    .input__senha {
        width: 20rem !important;
    }

    .lembrar__senha {
        display: none;
    }

    .btn__padrao_lg {
        display: none;
    }
}

@media (min-width: 992px) {
    :root {
        font-size: 18px;
    }

    .background {
        background-image: url("../img/Patas.svg"), url("../img/forma_2.1.svg"),
        url("../img/forma_1.svg");
        background-position: top right, 100% 8rem, top left;
        background-size: 10%, 7%, 40%;   
    }

    .form__cadastro {
        width: 30rem;
    }

    .input__senha {
        width: 22rem !important;
    }

    .lembrar__senha {
        display: none;
    }
    
    .btn__padrao {
        display: none;
    }

    .btn__padrao_lg {
        display: inline-block;
        width: 10rem;
    }
}