@import url("../css/variaveis.css");

.background {
    background-color: var(--branco-secundario);
    background-image: url("../img/forma_1.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}

.container {
    padding: 0;
}

.texto__home {
    color: var(--azul-principal);
    font-family: var(--fonte-principal);
    font-size: 1em;
}

.card__bg {
    background-color: var(--cinza-input);
}

.card__nome,
.card__descricao,
.card__local {
    font-family: var(--fonte-principal);
    color: var(--cinza-secundario);
}

.card__nome {
    color: var(--azul-principal);
    font-weight: 600;
}

::placeholder {
    color: var(--cinza-placeholder) !important;
    font-family: var(--fonte-principal);
    font-size: 0.8em;
}

.btn__padrao {
    background-color: var(--goiaba-botao);
    font-family: var(--fonte-principal);
}

.perfil__title {
    color: var(--cinza-secundario);
}

.img__perfil {
    margin: 0 40px 0 100px;
}