@import url("../css/variaveis.css");

.background {
    background-color: var(--branco-secundario);
    background-image: url("../img/forma_1.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}

.container {
    padding: 0;
}

.card__bg {
    background-color: var(--cinza-input);
    max-width: 540px !important;
}

@media (min-width: 768px) {

    .background {
        background-image: url("../img/forma_1.svg"),
        url("../img/forma_2.1.svg");
        background-position: top left, 100% 15rem;
        background-size: 65%, 15%;   
    }

    .card__bg {
        min-width: 510px;
    }

    .card__nome {
        font-size: 16px;
        font-family: var(--fonte-principal);
    }

}

@media (min-width: 992px) {

    .background {
        background-image: url("../img/forma_1.svg"), url("../img/forma_2.1.svg");
        background-position: top left, 100% 15rem;
        background-size: 40%, 8%;
    }

    .card__bg {
        max-width: 384px !important;
    }

}