@import url("/assets/css/variaveis.css");

:root {
    font-size: 16px;
}

.background {
    background-color: var(--azul-principal);
    background-image: url("../img/forma_1.svg"), 
        url("../img/forma_2.svg");
    background-repeat: no-repeat;
    background-position: top left, 100% 50%;
    background-size: 100%, 18%;
}

.container {
    padding: 3rem 3rem 0 3rem;
}

.titulo__inicial {
    font-family: var(--fonte-secundaria);
}

.texto__inicial {
    font-family: var(--fonte-principal);
    font-size: 1rem;
}

.texto__inicialmd {
    display: none;
}


.img__pets {
    width: 220px;
    height: 300px;
    align-self: center;
    margin-bottom: -2rem;
}


@media (min-width: 768px) {

    :root {
        font-size: 18px;
    }

    .background {
        background-size: 70%, 14%;
    }

    .logo__claro {
        width: 16rem;
    }
    
    .texto__inicial {
        display: none;
    }

    .texto__inicialmd {
        display: inline;
        font-family: var(--fonte-principal);
        font-size: 18px;
    }

    .img__pets {
        width: 350px;
    }

    .logo__nav {
        height: 30px;
    }
}

@media (min-width: 992px) {
    
    .background {
        background-size: 40%, 7%;
    }

    .logo__claro {
        width: 260px;
    }
    

    .texto__inicial {
        display: none;
    }

    .texto__inicialmd {
        display: inline-block;
        font-family: var(--fonte-principal);
        font-size: 18px;
        padding: 0 20rem !important;
    }
    
}