@import url("../variaveis.css");

.background {
    background-color: var(--branco-secundario);
    background-image: url("../img/Patas.svg"), url("../img/forma_1.svg"), 
        url("../img/forma_3.svg");
    background-repeat: no-repeat;
    background-position: top right, top left, 0 90%;
    background-size: 40%, 100%, 20%;
}

.container {
    padding: 3rem 3rem 0 3rem;
}

.texto__cadastro {
    color: var(--azul-principal);
    font-size: 1em;
    font-family: var(--fonte-principal);
}

.label {
    color: var(--cinza-secundario);
    font-size: 1em;
    font-family: var(--fonte-principal);
}

.form-control {
    background-color: var(--cinza-input);
}

::placeholder {
    color: var(--cinza-placeholder) !important;
    font-size: 0.8em;
    font-family: var(--fonte-principal);
    text-align: center;
}

.input__senha {
    background-image: url("../img/Vector.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.botao__cadastro {
    background-color: var(--goiaba-botao);
    font-family: var(--fonte-principal);
}

.lembrar__senha {
    color: var(--goiaba-botao);
    font-family: var(--fonte-principal);
    font-size: 0.8em;
}