@import url("../css/variaveis.css");

.background {
    background-color: var(--azul-principal);
    background-image: url("../img/forma_1.svg"), 
        url("../img/forma_2.svg");
    background-repeat: no-repeat;
    background-position: top left, 100% 50%;
    background-size: 100%, 18%;
}

.container {
    padding: 3rem 3rem 0 3rem;
}

.titulo__inicial {
    font-family: var(--fonte-secundaria);
}

.texto__inicial {
    font-family: var(--fonte-principal);
}

.img__pets {
    width: 220px;
    height: 300px;
    align-self: center;
    margin-bottom: -2em;
}

.btn__login {
    background-color: var(--goiaba-botao);
    font-family: var(--fonte-principal);
}

@media (min-width: 768px) {
    .background {
        background-size: 70%, 14%;
    }

    .logo__claro {
        width: 250px;
    }

    .img__pets {
        width: 350px;
    }

    .logo__nav {
        height: 30px;
    }
}