:root {
    --azul-principal: #3772FF;
    --branco-secundario: #FFFFFF;
    --cinza-secundario: #737380;
    --cinza-input: #F6F6F6;
    --cinza-placeholder: #BCBCBC;
    --goiaba-botao: #FC7071;
    --verde-footer: #36D6AD;
    --fonte-principal: 'Poppins', sans-serif; 
    --fonte-secundaria: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}